body {
    background: #DDDDDD;
}

.navbar {
    background-color: #800000;
    color: white;
    font-size: 1.2em;
    padding: 17px;
}

.page-container {
    margin-top: 100px;

}

#generateButton {
    background-color: #800000;
    color: aliceblue;
}


#loginImage {
    display: block;
    height: 90%;
    width: 90%;

    max-height: 200px;
    max-width: 200px;
}

#loginButton {
    display: block;
    background-color: #800000;
    margin-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
}

#iconImage {
    height: 90%;
    width: 90%;

    max-height: 40px;
    max-width: 40px;
}

.fabIcon {
    z-index: infinite;
}

.fabIcon:active {
    transform: translateY(3px);
    opacity: 0.85;
}

.btn-outline-light {
    color: #800000;

}

.modal-header {
    border: none;
    padding-bottom: 0;
}

.modal-footer {
    border: none;
    padding-top: 0;
}

#fabIcon {
    height: 100px;
    width: 100px;
}

#classRecommandContainer {
    padding: 0px;
}

#classContainer {
    overflow-x: hidden;
    overflow-x: auto;
    height: 200px;
}

@media (min-width: 576px) {
    #classContainer {
        overflow-x: hidden;
        overflow-x: auto;
        height: 300px;
    }

}

#fab {
    max-height: 50px;
    max-width: 50px;
}

p {
    margin-bottom: 0px;
}

#recommandClassList {
    padding: 0px;
}